language: bash
sudo: required
dist: trusty
cache:
  directories:
    - ~/pbuilder
before_install:
  - sudo apt-get -q update
install:
before_script:
script:
  - ./package.sh ${DISTRIBUTION} ${ARCHITECTURE}
after_failure:
after_success:
env:
  matrix:
    - DISTRIBUTIONS=trusty ARCHITECTURES=i386
    - DISTRIBUTIONS=xenial ARCHITECTURES=i386
    - DISTRIBUTIONS=trusty ARCHITECTURES=amd64
    - DISTRIBUTIONS=xenial ARCHITECTURES=amd64
