#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# We want python bindings please
export DEB_CONFIGURE_EXTRA_FLAGS=--enable-static

#do everything parallel
%:
	dh $@  --parallel --list-missing --with autoreconf

#except install because python module depends on main library and somehow dependency is not known
override_dh_auto_install:
	dh_auto_install --max-parallel=1
