#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Boost needs some help
export DEB_CPPFLAGS_MAINT_APPEND=-DBOOST_SPIRIT_THREADSAFE -DBOOST_NO_CXX11_SCOPED_ENUMS

#do everything parallel
%:
	dh $@  --parallel --list-missing --with autoreconf

#except install because python module depends on main library and somehow dependency is not known
override_dh_auto_install:
	dh_auto_install --max-parallel=1
